---
import Head from '../components/Head.astro';
import SoonPlaceholder from '../components/SoonPlaceholder.astro';
import { WEBSITE_TITLE } from '../consts'
const title = `404 | ${WEBSITE_TITLE}`
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} />
	<body class="bg-black overflow-x-hidden">
        <main class="bg-white w-screen h-screen absolute top-0 left-0 flex flex-col justify-center items-center">
            <SoonPlaceholder headerText="404"/>
        </main>
	</body>
</html>