---
import Head from '../components/Head.astro';
import Hero from '../components/Hero.jsx';
---

<!DOCTYPE html>
<html lang="en">
	<Head title='soczew' />
	<body class="overflow-hidden">
		<Hero client:only="react"/>
	</body>
</html>