---
import { Navigation } from "../components/Navigation"
import Head from '../components/Head.astro';
import Hero from '../components/Hero.jsx';
import { WEBSITE_TITLE } from '../consts'
import AboutSection from "../components/AboutSection.astro";
import Footer from "../components/Footer.astro";
const title = `${WEBSITE_TITLE}`
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} />
	<body class="overflow-hidden">
		<Navigation client:only="react" isScrollable={false}/>
		<main>
			<Hero client:only="react"/>
			<!-- <AboutSection /> -->
		</main>
		<!-- <Footer /> -->
	</body>
</html>