---
import Head from '../components/Head.astro';
---

<!DOCTYPE html>
<html lang="en">
	<Head title='store | soczew' />
	<body class="overflow-hidden">
        <main class="w-screen h-screen flex flex-col justify-center items-center">
            <h1 class='text-6xl font-body font-normal p-5'>
                soon
            </h1>
            <a href="./" class="font-display">
                > back to the main page
            </a>
        </main>
	</body>
</html>