<section class="w-screen h-screen py-[100px] bg-soczew-green flex justify-center items-center">
	<div class="w-full m-5 p-5 flex flex-col gap-5 bg-black text-white">
		<h1 class="font-display text-4xl font-normal w-fit">
			ABOUT
		</h1>
		<div class="flex flex-col gap-3 my-description-style font-paragraph">
			<p>
				S0czew skupiająca.
			</p>
			<p>
				Jesteśmy organizacją zrzeszająca młodych artystów z różnych dziedzin sztuki. 
			</p>
			<p>
				Nasze działania skupiają się na stwarzaniu imersyjnych przeżyć audio-wizualnych. Stawiamy na niepowtarzalonść i różnorodność doświadczeń. W ramach naszej działalności prowadzimy warsztaty i wystawy pozwalające  dzielić się naszym szerokim doświadczeniem i dając przestrzeń wzchodzącym artystom. Organizujemy imprezy klubowe łącząc muzykę ze sztuką. Charakteryzują się one wielogatunkowością, co daje możliwość eksploracji muzycznej oraz stwarza przestrzeń dogodną dla szerokiej gamy artystów.
			</p>
		</div>
	</div>
</section>