<footer class="bg-black flex flex-col sm:flex-row sm:h-40 w-screen py-3 px-9 sm:px-0">
    <div class="w-2/6 max-w-[280px] max-h-full flex justify-center">
        <a href="/" class="w-full h-full flex justify-center pb-0 sm:pb-4 pt-4">
            <img src="/logo/logotype-white.svg" class="object-center object-contain">
        </a>
    </div>
    <div class="flex-grow flex flex-col sm:flex-row py-5 sm:py-4 sm:px-2">
        <div class="flex-grow h-full border-solid border-white border-b-2 pb-5 sm:pb-0 sm:border-b-0 sm:border-l-2 sm:px-7">
            <ul class="h-full font-display text-white flex flex-col justify-end gap-1">
               <li><a class="footer-link" href="https://www.instagram.com/s0czew/">INSTAGRAM</a></li> 
               <li><a class="footer-link" href="https://www.facebook.com/profile.php?id=100086122046455">FACEBOOK</a></li> 
               <li><a class="footer-link" href="https://linktr.ee/s0czew">LINKTR.EE</a></li>
               <li><a class="footer-link" href="mailto:soczewassociation@gmail.com">soczewassociation@gmail.com</a></li> 
            </ul>
        </div>
        <div class="h-full pt-5 sm:pt-0 sm:px-7">
            <ul class="h-full font-display text-white flex flex-col justify-end gap-1">
               <li>(C) SOCZEW 2023</li>
               <li>////////////////////</li>
               <li>MADE BY <a class="footer-link" href="https://www.instagram.com/tymon_zaniewski/">TYMON ZANIEWSKI</a></li>
               <li><a class="footer-link" href="https://zaniewski.me">zaniewski.me</a></li> 
            </ul>
        </div>
    </div>
</footer>
<style>
    .footer-link:hover {
        background-color: white;
        color: black;
    }
</style>