---
import ScrollableLayout from '../../layouts/ScrollableLayout.astro'
import slugify from '../../scripts/slugify';
import { EVENTS, WEBSITE_TITLE } from "../../consts";
const title = `events | ${WEBSITE_TITLE}`
---

<ScrollableLayout title={title}>
    <section class="w-full flex flex-col justify-center items-center py-[100px]">
        {EVENTS.map((event)=>
            <section>
                <a href={`/events/${slugify(event.name)}`}>{event.name}</a>
            </section>
        )}
    </section>
</ScrollableLayout>