---
import ScrollableLayout from '../../layouts/ScrollableLayout.astro'
import slugify from '../../scripts/slugify';
import { EVENTS } from "../../consts";

const pageTitle = 'events | soczew'
---

<ScrollableLayout title={pageTitle}>
    <section class="w-full flex flex-col justify-center items-center py-[100px]">
        {EVENTS.map((event)=>
            <section>
                <a href={`./${slugify(event.name)}`}>{event.name}</a>
            </section>
        )}
    </section>
</ScrollableLayout>